<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/asset-15.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Portfólio</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/profle.jpeg" alt="Foto do Natã">
            <h1>Natã Sales</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/Natasales/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/salezz">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> 
                        About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-break" aria-hidden="true"></i>
                        Curriculum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection-play" aria-hidden="true"></i>
                        Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true">
                    </i> Contact</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Natã Sales</h2>
                <span id="subtitle" class="text-white text-shadow">Back end developer</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Swipe for more</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>About me</h2>
                    <p>I started working very early, selling door to door, and to this day I work in sales, but in the banking area, selling credit with low interest rates, this experience ensured that I developed greater ease of communication and adaptation, which gave me security to be a self taught programmer - comically my last name has nothing to do with sales, in Brazil it's just a last name.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/natasobreimg.png" alt="Foto do Nata" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Birthday: <span class="fw-lighter">03/06/1997</span>
                                </li>
                                <li class="list-group-item">
                                    Age: <span class="fw-lighter">26 </span>
                                </li>
                                <li class="list-group-item">
                                    State: <span class="fw-lighter">São Paulo</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">WebSite: <a href="" target="_blank"
                                    class="fw-lighter text-decoration-none link-dark">Inserir link da landing page</a></li>
                                    <li class="list-group-item">Trabalho: <a href="https://blueedtech.com.br/"
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">Freelancer</a></li>
                                        <li class="list-group-item">Experiência: <span class="fw-lighter"> 1
                                            year +</span></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <h3>Back end developer</h3>
                                <p>Currently I have been creating process automation and data collection systems using webscraping has a freelance programmer.</p>
                                
                                <p>experienced with web development and database</p>
                                
                            </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Technologies</h2>
                <p>Throughout my time as a technology professional I have acquired some technical and non-technical skills, most of them are here, according to the percentage of knowledge I believe I have in each of them.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>PYTHON</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                        <p class="mt-3 mb-0">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                        <p class="mt-3 mb-0">Web Scraping</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class='mt-3 mb-0'>GIT</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                                data-anime="left" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 30%;"
                                aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                        </div>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 25%;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 20%;"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                         <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;"
                                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                        </div>
                    </div>
                </div>

                <hr class='w-50 me-auto ms-auto'>

                <div class="row">
                    <h2 class='pt-5'>soft skills</h2>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Team work</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 95%;"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proactivity</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>

                        <p class="mt-3 mb-0">Detail orientation</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Communication</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>

                        <p class="mt-3 mb-0">Learn desire</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>

                        <p class="mt-3 mb-0">Commitment</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Cibersecurity</h4>
                            <h5>2023</h5>
                            <p><em>Unicesumar</em></p>
                            <p>Superior in Cibersecurity</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Curso em video</h4>
                            <h5>2022</h5>
                            <p><em>Estudonautas</em></p>
                            <p>Complete course of PYTHON language</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Database</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>Udemy</em></p>
                            <p>Complete course on database using MySQL</p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Professional</h3>

                        <div class='cv-item' data-anime="up">
                            <h4>Freelancer</h4>
                            <h5>2023 - atual</h5>
                            <p><em>Autonomo</em></p>
                            <p>Procuro prestar serviço como programador Freelancer voltado a automações e software</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Em breve</h4>
                            <h5>2024</h5>
                            <p><em>be part of my story</em></p>
                            <p>Vou ficar feliz que seu projeto faça parte da minha carreira.</p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <h4>Em breve</h4>
                            <h5>2024</h5>
                            <p><em>be part of my story</em></p>
                            <p>Vou ficar feliz que seu projeto faça parte da minha carreira.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/plataforma-gen.png" class="card-img-top"
                                            alt="Plataforma educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma educacional</h5>
                                            <p class="card-text">Projeto fullstack criado com MySQL, Spring e Angular,
                                                acesso restrito, apenas pessoas autorizadas</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="http://generationbrasil.online/#/login" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/blog.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blog Pessoal</h5>
                                            <p class="card-text">Projeto fullstack criado com MySQL, Spring e Angular,
                                                deploy realizado no Heroku e no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/blogPessoal-front-back"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://newbloggen.netlify.app/#/login" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pokedex.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Pokedéx</h5>
                                            <p class="card-text">Projeto fullstack criado com PostegreSQL, Flask, HTML,
                                                CSS e JavaScript, deploy realizado no Heroku</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/pokedex-flask" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/bluesmusic.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Blue Music</h5>
                                            <p class="card-text">Projeto fullstack criado com SQLite, Flask, HTML, CSS e
                                                JavaScript,
                                                deploy realizado no Heroku</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/BlueMusicV2" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://appbluemusic.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/timer.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Timer</h5>
                                            <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                                JavaScript,
                                                deploy realizado no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/cronometro-intervalo"
                                                    target='_blank' class="btn btn-outline-dark me-3"><i
                                                        class="bi bi-github"></i></a>
                                                <a href="https://timer-break.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/pagina-links.png" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Página de Links</h5>
                                            <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                                JavaScript,
                                                deploy realizado no Netlify</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/codethi/thi.code" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://thicode.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class='pt-3 pb-3'>Contact</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Location:</h4>
                                <p>Florianópolis, SC</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>natacomercial11@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d452700.12996236247!2d-48.79993328470555!3d-27.57120635356086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527394eb2c632d7%3A0x81bc550b6a04c746!2sFlorian%C3%B3polis%2C%20SC!5e0!3m2!1spt-BR!2sbr!4v1697913564487!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                class='w-100'></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Name:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Message:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Send
                                        message</button>
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    <span role="status">Sending...</span>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>@Salezz</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>